{% extends 'unilang/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>Select the languages you want to delete</h3>
{% endblock page_header %}

{% block content %}

  {% if languages %}
    <form method="post" action="{% url 'unilang:delete_languages' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <button name="submit" onclick="return confirm('Are you sure you want to delete selected language(s)?')" class="btn btn-secondary">
          Delete
        </button>
      {% endbuttons %}
    </form>
  {% else %}
    <h4>There are no languages to delete.</h4>
    <ul>
      <li><h6><a href="{% url 'unilang:languages' %}">Back to languages</a></h6></li>
    </ul>
  {% endif %}

{% endblock content %}