{% extends 'unilang/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>Languages</h3>
{% endblock page_header %}

{% block content %}

  <h6><a href="{% url 'unilang:new_language' %}">Add a new language</a>  -
    <a href="{% url 'unilang:delete_languages' %}">Delete language(s)</a></h6>

  <ul>
    {% for language in languages %}
      <li><h4>
        <a href="{% url 'unilang:language' language.id %}">{{ language }}</a>
      </h4></li>
    {% empty %}
      <li><h4>There are no languages yet.</h4></li>
    {% endfor %}
  </ul>

{% endblock content %}